
<div class="blog">
    <span><a style="color:rgb(5, 165, 146); margin: 0 0 0 0;text-decoration: none;" routerLink="/">Inicio</a></span>
    <span style="margin: 0 5px 0 5px; color: #666666;">></span>
    <span style="color:rgb(5, 165, 146);">Blog</span>
</div>
<div class="geraldetalhe">
<div class="titulo">
    {{materia.titulo}}
</div>
<div class="dvimg">
    <img class="imagem" src="{{ baseUrl }}upload/{{ materia.imagem }}">
</div>

<div class="textoCompleto">
    {{materia.texto_completo}}
</div>

</div>